<%- include("header") -%>
<center>
    <div class="container">
      <div class="box" id="heading">
        <h1><%=listTitle%></h1>
      </div>

      <div class="box">
        <% newListItems.forEach(function(item){ %>
          <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%=item._id%>">
                <p><%=item.name%></p>
            </div>
            <input type="hidden" name="listname" value="<%=listTitle%>"></input>
          </form>
          <% }); %>


        <form class="item" action="/" method="post">
          <input type="textarea" name="item" placeholder="New Item" autocomplete="off">
          <button type="submit" name="listTitle" value=<%=listTitle%> >+</button>
        </form>
      </div>
    </div>
  </center>
<%- include("footer") -%>
